body {
  height: auto;
  background-image: url("./assets/Vinewall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.titleWord {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.aboutMe {
  margin: 5px;
}

.aboutMeBorder {
  border: 1px solid gray;
  margin-top: 7px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 3px 3px;
  box-shadow: 0 20px 40px 0 rgba(15, 15, 15, 0.4);
}

.phone {
  margin-bottom: 4px;
  
}

.webContain {
  margin-bottom: 50px;
}

.contact {
  background-color: white;
  border-radius: 3px 3px;
  margin-top: 15px;
  box-shadow: 0 20px 40px 0 rgba(15, 15, 15, 0.4);
  border: 1px solid gray;
  text-align: center;
}

.title {
  text-align: center;
  background-color: rgb(60, 205, 125, .8);
  border: 1px solid black;
  margin-top: 5px;
  box-shadow: 0 20px 30px 0 rgba(15, 15, 15, 0.4);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 4px 4px;
}

.webInfo {
  text-align: center;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 0 40px 60px 0 rgba(15, 15, 15, 0.4);
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px 4px;
}

.webImg {
  border: 2px solid gray;
}


.profile {
  margin-top: 10px;
  box-shadow: 0 20px 30px 0 rgba(15, 15, 15, 0.4);
  height: 500px;
  width: 500px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
